<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944060795389-qeu3g2lvo6pugfhog8k1qpgh8n3g7m6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944060795389-qeu3g2lvo6pugfhog8k1qpgh8n3g7m6c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944060795389-mm05aj04iakh0a5f0j0bofg7dabhugok.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJcES-FNmV2GqhhbsOhCee4nTLsud22gY</string>
	<key>GCM_SENDER_ID</key>
	<string>944060795389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orbit</string>
	<key>PROJECT_ID</key>
	<string>orbit-3caca</string>
	<key>STORAGE_BUCKET</key>
	<string>orbit-3caca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944060795389:ios:4d007b98b1aaca9299f194</string>
</dict>
</plist>